In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, plot_confusion_matrix, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 

df = pd.read_csv('./CBS_migration_background.csv', error_bad_lines=False, sep=',')
df = df.drop(df.columns[[0,1,5]], axis = 1)
df

,Geslacht,Migratieachtergrond,Postcode,Bevolking_1
0,Totaal mannen en vrouwen,Totaal,Nederland,17407585.0
1,Totaal mannen en vrouwen,Totaal,Nederland,17475415.0
2,Totaal mannen en vrouwen,Totaal,Niet in te delen,2035.0
3,Totaal mannen en vrouwen,Totaal,Niet in te delen,2545.0
4,Totaal mannen en vrouwen,Totaal,1011,9705.0
...,...,...,...,...
513571,Vrouwen,Overige westerse migratieachtergrond,9997,5.0
513572,Vrouwen,Overige westerse migratieachtergrond,9998,0.0
513573,Vrouwen,Overige westerse migratieachtergrond,9998,0.0
513574,Vrouwen,Overige westerse migratieachtergrond,9999,5.0
513575,Vrouwen,Overige westerse migratieachtergrond,9999,0.0

In [2]:
Migration = df.pivot_table('Bevolking_1', ['Postcode'], 'Migratieachtergrond')

In [4]:
Migration.to_csv(r'./Migration.csv')