In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, plot_confusion_matrix, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 

df = pd.read_csv('./T0_with_questionaires_for_imputation.csv', error_bad_lines=False, sep=',')
#df = df.drop(df.columns[[0,1,5]], axis = 1)
df

,Respondentnummer,who_filled_in,other_location,country_of_birth_child,country_of_birth_parent,country_of_birth_partner,education_parent,education_partner,cult_background_parent,cult_background_partner,...,corrigeren_tedruk,binnenhouden_ongeactweer,leren_bewegen_gezondheid,onder_begeleiding_spelen,belonen_wanneer_rustig,buitenspeel_materiaal_beschikbaar,tv_bezighouden,niet_buiten_verkeersveiligheid,niet_buiten_criminaliteit,toestaan_langetijd_schermen
0,201102,1.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,1.0,1.0,5.0,NaN,2,5.0,2.0,2.0,2.0,2.0
1,201108,1.0,2.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,...,2.0,2.0,5.0,1,4,3.0,2.0,1.0,1.0,2.0
2,201110,1.0,2.0,1.0,1.0,1.0,4.0,4.0,1.0,1.0,...,3.0,1.0,4.0,NaN,4,5.0,3.0,2.0,1.0,3.0
3,201113,1.0,2.0,1.0,1.0,1.0,4.0,4.0,1.0,1.0,...,1.0,1.0,4.0,2,2,4.0,3.0,1.0,1.0,3.0
4,201114,4.0,2.0,1.0,1.0,1.0,3.0,5.0,1.0,1.0,...,4.0,2.0,4.0,5,5,5.0,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,311129,1.0,1.0,1.0,1.0,1.0,4.0,NaN,1.0,NaN,...,3.0,1.0,4.0,1,1,5.0,3.0,2.0,1.0,3.0
1098,311130,1.0,2.0,1.0,1.0,1.0,4.0,4.0,1.0,1.0,...,3.0,2.0,5.0,5,3,5.0,3.0,1.0,1.0,4.0
1099,311131,1.0,2.0,1.0,1.0,1.0,4.0,4.0,1.0,1.0,...,5.0,2.0,3.0,1,1,5.0,3.0,1.0,1.0,4.0
1100,311132,1.0,2.0,1.0,1.0,NaN,4.0,NaN,1.0,NaN,...,3.0,1.0,5.0,NaN,2,5.0,3.0,3.0,1.0,3.0
1101,311133,1.0,2.0,1.0,1.0,1.0,4.0,NaN,1.0,NaN,...,2.0,2.0,4.0,4,3,4.0,3.0,1.0,1.0,3.0

In [19]:
dft = df['Respondentnummer']
dfr = df['zipcode_numbers']

In [20]:
column_names = ["Respondentnummer", "zipcode_numbers"]

dfc = pd.DataFrame(columns = column_names)

In [21]:
dfc['Respondentnummer'] = dft
dfc['zipcode_numbers'] = dfr

In [22]:
dfc

      Respondentnummer zipcode_numbers
0               201102            3191
1               201108            3086
2               201110            3191
3               201113            3192
4               201114            3191
...                ...             ...
1097            311129            9736
1098            311130            9736
1099            311131            9736
1100            311132            9736
1101            311133            9736

[1102 rows x 2 columns]

In [24]:
dfc.to_csv(r'./zipcode_numbers.csv', index = False)