In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, plot_confusion_matrix, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 

df = pd.read_csv('./mediaan-besteedbaar-inkomen.csv', error_bad_lines=False, sep=',')
#df = df.drop(df.columns[[0,1,5]], axis = 1)
df

,zipcode_numbers,Aantal_huishoudens,Mediaan_besteedbaar_inkomen,first_20th_percentile,second_20th_percentile,third_20th_percentile,fourth_20th_percentile,fifth_20th_percentile
0,1011,6100.0,27500,30.5,15.4,12.9,13.5,27.6
1,1012,5700.0,24900,34.5,15.4,14.9,13.1,22.1
2,1013,12300.0,27200,31.8,16.3,14.0,14.8,23.0
3,1014,300.0,40700,18.5,7.4,13.6,17.0,43.5
4,1015,9400.0,27500,30.5,15.2,13.3,13.3,27.6
...,...,...,...,...,...,...,...,...
4035,9996,0.0,.,.,.,.,.,.
4036,9997,300.0,35900,17.0,25.1,19.7,25.1,13.1
4037,9998,100.0,.,.,.,.,.,.
4038,9999,0.0,.,.,.,.,.,.
4039,Bron: CBS. Integrale Inkomens- en Vermogenssta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df = df.dropna()
df

,zipcode_numbers,Aantal_huishoudens,Mediaan_besteedbaar_inkomen,first_20th_percentile,second_20th_percentile,third_20th_percentile,fourth_20th_percentile,fifth_20th_percentile
0,1011,6100.0,27500,30.5,15.4,12.9,13.5,27.6
1,1012,5700.0,24900,34.5,15.4,14.9,13.1,22.1
2,1013,12300.0,27200,31.8,16.3,14.0,14.8,23.0
3,1014,300.0,40700,18.5,7.4,13.6,17.0,43.5
4,1015,9400.0,27500,30.5,15.2,13.3,13.3,27.6
...,...,...,...,...,...,...,...,...
4034,9995,300.0,33500,21.2,22.9,26.0,18.8,11.1
4035,9996,0.0,.,.,.,.,.,.
4036,9997,300.0,35900,17.0,25.1,19.7,25.1,13.1
4037,9998,100.0,.,.,.,.,.,.
4038,9999,0.0,.,.,.,.,.,.

In [35]:
df.zipcode_numbers.astype(int)
df.dtypes

zipcode_numbers                 object
Aantal_huishoudens             float64
Mediaan_besteedbaar_inkomen     object
first_20th_percentile           object
second_20th_percentile          object
third_20th_percentile           object
fourth_20th_percentile          object
fifth_20th_percentile           object
dtype: object

In [21]:
df.to_csv(r'./Income.csv', index = False)